.container__landing {
    height: auto;
    width: 60%;
    background-color: white;
}

.container__desktop {
    width: 40%;
}

.landing__paragraph {
    max-width: 1000px;
    width: 21rem;
    font-size: 1rem
}

.landing__card {
    display: none;
}

.container__landing-stats {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

@media only screen and (max-width: 1280px) {
    .container__desktop {
        display: none;
    }

    .landing__card {
        text-align: center;
        display: block;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 50%;
        border-radius: 1rem 0rem;
    }
}

@media only screen and (min-width:1280px) {
    .container__landing-content {
        max-width: 600px;
        margin-left: 100px;
    }
}