.container__landing {
    height: 98vh;
    width: 100vw;
    background-color: white;
}

.container__desktop-card {
    position: absolute;
    top: 35%;
    right: 2%;
    width: 30rem;
    height: 15rem;
}

@media only screen and (max-width: 1200px) {
    .container__desktop {
        display: none;
    }
}