.container__cards-ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}

.container__cards-li {
    background-color: black;
    margin: 2rem;
    width: 20rem;
    padding: 2rem;
    color: white;
    font-family: Cormorant Garamond;
    font-weight: 500;
}

.container__cards-li h2, p, button {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container__cards-li p {
    font-family: Open Sans;
    font-weight: 400;
}

.container__cards-li button {
    border-radius: 2rem;
    height: 2rem;
    width: 10rem;
    border: none;
    background-color:#A5AFD4;
}

@media only screen and (max-width: 1280px) {
    .container__cards-li {
        margin: 1rem;
        width: 18rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 1024px) {
    .container__cards-li {
        margin: 1rem;
        width: 15rem;
        padding: 1rem;
    }
}

@media only screen and (max-width: 768px) and (orientation: landscape) {
    .container__cards-li {
        margin: 0rem 0rem 1rem 2rem;
        width: 18rem;
        padding: 0.75rem;
    }
}

@media only screen and (max-width: 480px) {
    .container__cards-li {
        margin: 0rem 0rem 1rem 2rem;
        width: 20rem;
        padding: 0.75rem;
    }
}

@media only screen and (max-width: 480px) and (orientation: landscape) {
    .container__cards-li {
        display: flex;
        flex-direction: column;
    }
}